<% if @product %>
  <product class=<%= params[:id].nil? && "hide-for-mobile" %>>
    <%= image_tag @product.image_url %>
    <div>
      <h2> <%= @product.title %> </h2>
      <p> <%= @product.description %> </p>
      <div>
        <h4> Ціна: </h4>
        <%= format_price(@product.price) %>
      </div>
      <button style="margin-top: 20px"> Замовити </button>
    </div>
  </product>
<% end %>
