<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <div style="display: flex; height: 100%;">
      <%= render template: "pages/sidebar_resources" %>
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
